In [44]:
import time
import pandas as pd
from importlib import reload

import qcodes as qc
from qcodes.dataset.sqlite_base import connect, get_runs
from qcodes.dataset import experiment_container as ec

from plottr import qcodes_dataset; reload(qcodes_dataset)
from plottr.qcodes_dataset import getDatasetStructure, getRunOverview, getRunOverviewDataFrame, datasetDictFromFile

In [45]:
qc.config['core']['db_location'] = './experiments.db'
dbpath = qc.config['core']['db_location']

In [33]:
df = getRunOverviewDataFrame(dbpath)
df

,dataFields,dataRecords,experimentName,finishedDate,finishedTime,sampleName,startDate,startTime
1,y (x),101,dev: plottr subscriber,2018-05-01,21:53:46,dummy,2018-05-01,21:53:22
2,y (x),91,dev: plottr subscriber,2018-05-04,08:06:39,dummy,2018-05-04,08:06:18
3,y (x),29,dev: plottr subscriber,2018-05-04,08:07:13,dummy,2018-05-04,08:07:06
4,y (x),13,dev: plottr subscriber,2018-05-04,08:11:24,dummay,2018-05-04,08:11:20
5,y (x),20,dev: plottr subscriber,2018-05-04,08:11:50,dummay,2018-05-04,08:11:44
6,y (x),101,dev: plottr subscriber,2018-05-05,10:53:45,dummy,2018-05-05,10:53:20
7,y (x),101,dev: plottr subscriber,2018-05-06,14:09:48,dummy,2018-05-06,14:09:23
8,y (x),101,dev: plottr subscriber,2018-05-06,14:45:48,dummy,2018-05-06,14:45:24
9,y (x),27,dev: plottr subscriber,2018-05-06,15:02:53,dummy,2018-05-06,15:02:46